<!DOCTYPE html>
<html>
  <head>
    <title>GenomicDb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="ui main container">
      <div class="ui stackable menu">
        <%= link_to root_path, class: 'item' do %>
          <div class="ui medium header">Genomic Database</div>
        <% end %>
        <%= link_to 'Datasets list', datasets_path, class: 'item' %>
        <%= link_to 'Upload Dataset', new_dataset_path, class: 'item' %>
      </div>
      <% if notice %>
        <div class="ui info message"><%= notice %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
