<div class="ui huge header">Datasets</div>

<%= link_to 'Upload a new dataset', new_dataset_path, class: 'ui green button' %>

<% @datasets.each.with_index do |dataset, index| %>
  <%= link_to dataset do %>
    <div class="dataset-mini ui two column stackable grid segment">
      <div class="ui column">
        <div class="ui header">
          <%= (index + 1).to_s() + '. ' + dataset.name %>
        </div>
        <div class="description-truncated"><%= dataset.description %></div>
        <% if dataset.data_files.attached? %>
          <%= pluralize(dataset.data_files.count, 'file') %>
          <ul>
            <% dataset.data_files.each do |data_file| %>
              <li>
                <%= data_file.filename %>
              </li>
            <% end %>
          </ul>
        <% else %>
          No files yet.
        <% end %>
      </div>
      <div class="ui column">
        <p>
          Uploader: <strong><%= dataset.uploader %></strong>
          <br>
          Institute: <strong><%= dataset.institute %></strong>
        </p>
        <p>
          Created at <%= dataset.created_at %>
          <br>
          Last updated <%= dataset.updated_at %>
        </p>
      </div>
    </div>
  <% end %>
<% end %>
