<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dataset.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dataset.description %>
</p>

<p>
  <strong>Uploader:</strong>
  <%= @dataset.uploader %>
</p>

<p>
  <strong>Institute:</strong>
  <%= @dataset.institute %>
</p>

<%= link_to 'Edit', edit_dataset_path(@dataset) %> |
<%= link_to 'Back', datasets_path %>
