<div class="ui huge header"><%= @dataset.name %></div>

<p>
  <%= @dataset.description %>
</p>

<p>
  <strong>Uploader:</strong>
  <%= @dataset.uploader %>
  <br>
  <strong>Institute:</strong>
  <%= @dataset.institute %>
</p>

<div class="ui segment">
  <% if @dataset.data_files.attached? %>
    <div class="ui header">Files</div>
    <ol>
      <% @dataset.data_files.each.with_index do |data_file, index| %>
        <li>
          <%= link_to data_file.filename, url_for(data_file) %>
        </li>
      <% end %>
    </ol>
  <% else %>
    No files yet. If you are the owner, please upload one.
  <% end %>
</div>

<p>
  Created at <%= @dataset.created_at %>
  <br>
  Last updated <%= @dataset.updated_at %>
</p>

<%= link_to 'Edit', edit_dataset_path(@dataset), class: 'ui blue button' %>
<%= link_to 'Delete', @dataset, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red button' %>
<br>
<br>
<%= link_to 'Go back', datasets_path, class: 'ui button' %>
