<div class="ui huge header"><%= @dataset.name %></div>

<p>
  <%= @dataset.description %>
</p>

<p>
  <strong>Uploader:</strong>
  <%= @dataset.uploader %>
  <br>
  <strong>Institute:</strong>
  <%= @dataset.institute %>
</p>
<p>
  Created at <%= @dataset.created_at %>
  <br>
  Last updated <%= @dataset.updated_at %>
</p>

<%= link_to 'Edit', edit_dataset_path(@dataset), class: 'ui blue button' %>
<%= link_to 'Delete', @dataset, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red button' %>
<br>
<br>
<%= link_to 'Go back', datasets_path, class: 'ui button' %>
